/* in styles.css */

.obsidian-pet {
	display: block;
	z-index: 1;
	position: absolute;
}

.pet-ball {
	z-index: 2;
}

.pet-view-button-container {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 10;
	display: flex;
	gap: 5px; /* Adds a small space between buttons */
}

.pet-view-action-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	background-color: var(--background-modifier-border);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: var(--text-muted);
	padding: 0;
}

.pet-view-action-button:hover {
	background-color: var(--background-modifier-border-hover);
	color: var(--text-normal);
}
